/* ============ Menu Header ==============*/

/* .navbar-desk{

} */

.subNavBar {
    padding-top: 0;
    padding-bottom: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.navbar-grid {
    width: auto;
}

.navbar-grid span > a {
    /* margin-right: 15px; */
    font-size: 13px;
    color: #8d8d8d !important;
    text-decoration: none;
}

.hover-a:hover {
    opacity: 0.8;
}

.nav-link-hover,
li:hover > ul {
    display: block;
}

.dropHover {
    top: 43px;
    left: auto;
    box-shadow: 3px 3px 6px rgb(0 0 0 / 16%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 0;
}

.dropHover a {
    border-bottom: 1px solid #eee;
    text-transform: none;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    padding: 5px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #8d8d8d;
}

.dropHover a:hover {
    color: red;
}

.active-link {
    padding: 13px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #8d8d8d !important;
}

.active-link:hover {
    background-color: #fafafa;
    box-shadow: 3px 3px 6px rgb(0 0 0 / 16%);
    /* padding: 0 7px 7px; */
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: max-content;
}

.carousel-inner img {
    /* height: 1200px; */
    object-fit: contain;
}

.btn-Carroussel {
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 80px;
    margin: auto;
    margin-left: 0.3em;
    margin-right: 0.3em;
    background-color: black;
}

.service-item {
    text-align: center;
    z-index: 1;
    position: relative;
}

.service-item svg {
    font-size: 32px;
    /* height: 30px; */
    display: inline-block;
    color: rgb(0, 132, 74);
}
.service-item p {
    color: #00844a;
    margin: 0 auto;
    margin-bottom: -4px;
    text-transform: uppercase;
    font: 400 14px "Source Sans Pro", sans-serif;
    line-height: 10px;
}

.service-item div {
    text-align: left;
    margin-left: 5px;
    display: inline-block;
}

.service-item span {
    color: #999999;
    margin: 0 auto;
    text-transform: uppercase;
    font: 400 10px "Source Sans Pro", sans-serif;
}

/* ============ Fim Menu Header ==============*/

/* ============ conteudo ==============*/

.title-avk {
    width: 100%;
    text-align: center;
    margin: 10px 0px 15px 0px;
    position: relative;
}

.title-avk p {
    background: #fff;
    color: #dd7b54;
    display: inline-block !important;
    font: 400 26px "Source Sans Pro", sans-serif;
    margin: 0 auto;
    padding: 0px 10px;
    position: relative;
    z-index: 99;
}

.title-avk div {
    background: #eee;
    height: 2px;
    width: 100%;
    position: absolute;
    z-index: 9;
    top: 17px;
    left: 0px;
}

.title-avk p span.title {
    padding: 0px;
    color: #f8a774;
    font: 400 26px "Source Sans Pro", sans-serif;
    position: relative;
    margin: 0 auto;
    border-radius: 10px 0px 10px 0px;
}

.cardHeader {
    padding: 0;
}

.cardHeader img {
    max-height: 300px;
    object-fit: cover;
    object-position: top;
}

.newsletter-footer {
    background: #00844a;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #eee;
}

.newsletter-footer p span {
    /* color: #00844A; */
    text-decoration: underline;
    padding: 0px 5px;
    font: 700 16px "Source Sans Pro", sans-serif;
}

.contato-footer-vk ul li {
    margin-bottom: 10px;
    text-align: left;
}
.contato-footer-vk ul li p {
    text-transform: none;
    font: 400 16px "Source Sans Pro", sans-serif;
    color: #999999;
}

.payment-vk {
    text-align: left;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    min-height: auto;
}

.payment-vk img {
    height: 28px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin: 0 auto;
    border: 1px solid #e8e8e8;
}

.contato-footer-vk ul li {
    margin-bottom: 10px;
}

.contato-footer-vk svg{
    color: #f05328;
}

.column-footer-vk ul {
    display: inline-block;
    list-style: outside none none;
    padding-top: 0px;
    padding-left: 0px;
    font-size: 14px;
    color: #828282;
}

.box-cadastro {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #00A574;
    /* background: #FFFFFF !important; */
}

.box-cadastro h3 {
    margin-top: 0px;
    color: #FFF;
    font: 400 20px/56px 'Source Sans Pro', sans-serif;
    height: 60px;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    background: #00A574;
}

.box-cadastro p {
    font: 12px 'Source Sans Pro', sans-serif;
    color: #666;
    margin-top: 1.2em;
    margin-bottom: 1.5em;
    text-align: center;
}

.box-linha {
    border-bottom: 1px solid #666;
    height: 1em;
    text-align: center;
    margin-bottom: 2em;
}

.box-container {
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

/* ============ Fim conteudo ==============*/

/* ============ Utilits ==============*/

.mt3 {
    margin-top: 30px;
}

.form-edit{
    margin-bottom: 0.8em;
}

/* ============ Fim utilis ==============*/

/* ============ Responsivo ==============*/

@media only screen and (min-width: 700px) {
    .navbar-grid {
        width: 100%;
    }
    .service-item {
        width: auto !important;
        z-index: 1;
        position: relative;
    }
}

@media only screen and (min-width: 768px) {
    .service-content {
        width: 25%;
        border-bottom: none;
        border-right: 1px solid #dddddd;
        margin-bottom: 15px;
    }
    .title-avk {
        width: 100%;
        text-align: left;
        margin: 10px 0px 15px 0px;
    }
    .title-avk p {
        background: #fff;
        margin-left: 15px;
    }
}

@media only screen and (min-width: 992px) {
    .navbar-grid {
        width: auto;
    }
}

@media only screen and (min-width: 1000px) {
    .column-footer-vk h4 {
        border-bottom: 2px solid #eee;
        color: #999999;
        font: 400 14px "Source Sans Pro", sans-serif;
        margin-bottom: 10px;
        padding-bottom: 2px;
        /* padding-left: 10px; */
        text-transform: uppercase;
    }
    .column-footer-vk ul {
        list-style: none;
        display: block;
        padding: 0;
    }
    .minHeight {
        min-height: 145px;
    }
    .column-footer-vk .contato-footer-vk p {
        display: inline;
        font: 400 16px "Source Sans Pro", sans-serif;
        text-align: left;
        text-decoration: none;
        text-transform: none;
        color: #999999;
    }
    .column-footer-vk {
        margin-top: 2em;
        text-align: left;
    }
    .payment-vk img {
        margin-right: 15px;
        margin-bottom: 10px;
    }
}

/* Desktop grande */
@media (min-width: 1200px) {
    .mobile-component {
        display: none;
    }
}

/* Telefones em paisagem e abaixo */
@media (max-width: 480px) {
    .mobile-component {
        display: block !important;
    }
}

/* Telefones em paisagem a tablet em retrato */
@media (max-width: 767px) {
    .deskptop-Component {
        display: none;
    }
    .mobile-component {
        display: block !important;
    }
}

@media (max-width: 1000px) {
    .column-footer-vk h4 {
        display: inline-block;
        background: #eee;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        text-transform: uppercase;
        color: #666;
        width: 100%;
        font-size: 15px;
    }
    .column-footer-vk ul {
        text-align: center;
        width: 100%;
    }
    .minHeight{
    margin-top: 10px;
    margin-bottom: 30px;
    }  
}
/* ============ Responsivo ==============*/
